@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bree+Serif&family=Story+Script&display=swap');
* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.menu-links {
    text-decoration: none;
    margin-top: 10px;
}

.heading {
    display: flex;
    max-width: 400px;
    margin-bottom: 10px;
    font-family: 'bangers';
    font-size: 20px;
    color: rgb(208, 255, 0);
    text-shadow: 1px 1px 2px black;
}

#p1-img1 {
    position: absolute;
    left: 30px;
    top: 30px;
    box-shadow: 1px 1px 2px black;
    border-radius: 20px;
}

.grammar-heading {
   font-size: 25px;
   font-weight: 600;
   color: white;
}

.grammar-box1 {
    width: 600px;
    height: 565px;
    background-color: rgb(0, 41, 43);
    position: absolute;
    left: 30px;
    top: 380px;
    box-shadow: 1px 1px 2px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    color: rgb(217, 255, 0);
}

.subtitles {
    font-weight: 600;
    color: white;
}

.back  {
    text-decoration: none;
    position: absolute;
    top: 50px;
    left: 1700px;
    background-color: aliceblue;
    width: 100px;
    height: 70px;
    border-radius: 30px;
    font-size: 25px;
    font-family: 'story script';
}

.lesson-title {
    font-family: 'bangers';
    font-size: 30px;
    margin-bottom: 10px;
      color: rgb(255, 115, 0);
    text-shadow: 1px 1px 2px black;
}

.instructions {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(73, 0, 73);
}

.words {
    color: rgb(255, 115, 0);
    font-weight: 600;
    font-style: italic;
}

.buttons {
    width: 80px;
    height: 30px;
    background-color: rgb(208, 255, 0);
    border-style: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
}

.buttons:active {
    box-shadow: none;
}

.conversation {
    width: 540px;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 13% 87%;
    text-align: left;
    font-family: 'story script';
    color: rgb(57, 13, 83);
    background-color: aliceblue;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
   }

   .input-exercise {
    width: 400px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 13% 87%;
    text-align: left;
    font-family: 'story script';
    color: rgb(57, 13, 83);
    background-color: aliceblue;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
    padding: 10px;
   }

.names {
    font-size: 25px;
    color: rgb(138, 0, 192);
    margin-left: 5px;
}

.translation {
    opacity: 0;
    color: rgb(255, 81, 0);
    font-size: 25px;
    font-family: 'story script';
}

.inputs {
    height: 25px;
    border-style: none;
    border-bottom: 1px solid skyblue;
    font-family: 'story script';
    font-size: 25px;
}

#inputA1 {
    width: 40px;
}

#inputA2 {
    width: 35px;
}

#inputA3 {
    width: 40px;
}

#inputA4 {
    width: 35px;
}

#inputA5 {
    width: 35px;
}

#inputA6 {
    width: 35px;
}

#inputA7 {
    width: 35px;
}

#inputA8 {
    width: 35px;
}

#translate {
    opacity: 1;
    transition: all 1s;
    position: absolute;
    left: 1170px;
    top: 620px;
}





